<h2 mat-dialog-title>Prijava korisnika</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="loginFormGroup">
    <mat-form-field appearance="outline">
      <mat-label>Korisničko ime</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="isFieldInvalid('username')">{{
        getErrorMessage("username")
      }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lozinka</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="isFieldInvalid('password')">{{
        getErrorMessage("password")
      }}</mat-error>
    </mat-form-field>
  </form>

  <div class="label">
    <p>
      Nemaš nalog? Kreiraj ga
      <a (click)="signUp()"><span class="link colored-label">ovde</span></a
      >.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Otkaži</button>
  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="!isFormValid()"
  >
    Potvrdi
  </button>
</mat-dialog-actions>
