<div class="row">
  <div class="section">
    <div class="title">Detalji porudžbenice:</div>
    <mat-list class="cart-items-list">
      @for (product of cartItems; track product.id) {
      <mat-list-item class="list-item">
        <img
          matListItemAvatar
          [ngSrc]="product.slike![0]"
          [width]="200"
          [height]="200"
        />
        <div class="item-name" matListItemTitle>{{ product.naziv }}</div>
        <div class="item-price" matListItemLine>
          {{ product.cena! | formatPrice }}
        </div>
        <span class="quantity" matListItemLine>
          <mat-icon (click)="decreaseQuantity(product)" class="btn"
            >remove</mat-icon
          ><span class="number">{{ getQuantity(product) }}</span
          ><mat-icon class="btn" (click)="increaseQuantity(product)"
            >add</mat-icon
          >
        </span>

        <button
          (click)="removeFromCart(product)"
          mat-icon-button
          matListItemMeta
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-list-item>

      } @empty {
      <div class="empty-msg">
        <p>Vaša korpa je prazna...</p>
        <button mat-raised-button [routerLink]="['/proizvodi']">
          Pronađi proizvode
        </button>
      </div>
      }
    </mat-list>
    <div class="footer">
      <p>Za plaćanje: {{ getTotalAmount() | formatPrice }}</p>
    </div>
  </div>
  <div class="section">
    <div class="title">Vaši podaci:</div>
    <form class="user-data">
      <mat-form-field appearance="outline">
        <mat-label>Ime i prezime</mat-label>
        <input [required]="true" type="text" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Adresa</mat-label>
        <input [required]="true" type="text" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Telefon</mat-label>
        <input [required]="true" type="text" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input [required]="true" type="email" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Napomena</mat-label>
        <input type="text" matInput />
      </mat-form-field>
    </form>
    <div class="footer">
      <button
        class="order-btn"
        mat-raised-button
        color="primary"
        (click)="sendOrder()"
      >
        Naruči
      </button>
    </div>
  </div>
</div>
