.row {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  gap: 2rem;
  flex-direction: row;
}

.section {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.cart-items-list {
  height: 100%;
  overflow-y: auto;
}

.mat-mdc-list-item.list-item {
  height: 120px;

  .quantity {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    border: 1px solid var(--bg-light);
    border-radius: 15px;
    width: fit-content;

    .number {
      padding: 2px 5px;
    }

    .btn {
      color: var(--main-color);
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.footer {
  padding: 10px 20px;
  p {
    font-family: Arial, sans-serif;
    line-height: 1.5rem;
    font-size: var(--subtitle-size);
    font-weight: var(--medium);
    letter-spacing: 0.03125em;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 5px;
  }

  .order-btn {
    width: 200px;
  }
}

.empty-msg {
  padding: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.title {
  padding: 20px;
  font-size: var(--title-size);
}

.user-data {
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}
