<div class="header-container">
  <h2>Upravljaj proizvodima</h2>
  <button mat-raised-button (click)="addProduct()">+ Dodaj proizvod</button>
</div>

<div class="grid-container">
  <table mat-table [dataSource]="products" class="mat-elevation-z8 admin-grid">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Naziv</th>
      <td mat-cell *matCellDef="let element">{{ element.naziv }}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Tip</th>
      <td mat-cell *matCellDef="let element">
        {{ element.tip }}
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Cena</th>
      <td mat-cell *matCellDef="let element">{{ element.cena }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 220px"></th>
      <td mat-cell *matCellDef="let element">
        <button
          class="table-action"
          mat-icon-button
          title="Izbriši proizvod"
          (click)="deleteProduct($event, element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          class="table-action"
          mat-icon-button
          title="Izmeni proizvod"
          (click)="editProduct($event, element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowSelected(row)"
    ></tr>
  </table>
</div>
