<mat-toolbar color="primary">
  <!-- Menu -->
  <mat-menu #generalMenu="matMenu">
    <button mat-menu-item routerLink="o-nama">O Nama</button>
    <button mat-menu-item routerLink="proizvodi">Proizvodi</button>
    <button mat-menu-item routerLink="korpa">Korpa</button>
    <button mat-menu-item (click)="onLogin()">Prijavi se</button>
  </mat-menu>

  <mat-menu #adminMenu="matMenu">
    <button mat-menu-item routerLink="admin/korisnici">
      Upravljaj korisnicima
    </button>
    <button mat-menu-item routerLink="admin/proizvodi">
      Upravljaj proizvodima
    </button>
    <button mat-menu-item (click)="editStore()">
      Izmeni podatke o prodavnici
    </button>
  </mat-menu>

  <!-- Logo -->
  <img
    [src]="petShop.logo"
    alt="Pet Store Logo"
    class="logo"
    routerLink="o-nama"
  />

  <!-- Pet Store Name -->
  <a class="store-name" routerLink="o-nama"
    ><span>{{ petShop.naziv }}</span></a
  >

  <!-- Navigation Links -->
  <div class="spacer"></div>
  <a
    mat-button
    routerLinkActive="active"
    class="hamburger-btn"
    [matMenuTriggerFor]="adminMenu"
    >Admin</a
  >
  <button
    mat-icon-button
    [matMenuTriggerFor]="generalMenu"
    class="hamburger-btn"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <nav>
    <a mat-button routerLink="o-nama" routerLinkActive="active">O Nama</a>
    <a
      mat-button
      routerLink="proizvodi"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Proizvodi</a
    >
    <a mat-button routerLinkActive="active" [matMenuTriggerFor]="adminMenu"
      >Admin</a
    >
  </nav>

  <!-- Sign In/Log In Buttons -->
  <span class="spacer display"></span>
  <a
    mat-icon-button
    routerLink="korpa"
    routerLinkActive="cart-active"
    class="shopping_cart_icon"
  >
    <mat-icon
      [matBadge]="cartItems.length"
      aria-hidden="false"
      matBadgeColor="warn"
      [matBadgeHidden]="!cartItems.length"
      >shopping_cart</mat-icon
    >
  </a>
  <button class="login-btn" mat-raised-button (click)="onLogin()">
    Prijavi se
  </button>
</mat-toolbar>
