@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.logo {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.store-name {
  text-decoration: none;
  color: white;
  margin-left: var(--padding-sm);
  font-size: var(--header-title);
  font-family: "Dancing Script", cursive;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  border: none;
  border-radius: 0;
  border-bottom: var(--nav-border);
}

.cart-active {
  border: var(--nav-border);
  border-radius: var(--b-radius-md);
}

.shopping_cart_icon {
  margin-right: var(--padding-md);
  height: 38px;
  padding: 0;
  padding-top: var(--padding-sm);
}

.hamburger-btn {
  display: none;
}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  .display {
    display: none;
  }

  .shopping_cart_icon {
    display: none;
  }

  .login-btn {
    display: none;
  }

  .hamburger-btn {
    display: block;
  }
}
