<fieldset class="rate">
  <ng-container *ngFor="let rating of [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]">
    <input
      type="radio"
      id="rating{{ rating }}"
      name="rating"
      value="{{ rating }}"
      (click)="onClick(rating)"
    />
    <label [class.half]="rating % 2 == 0" for="rating{{ rating }}"></label>
  </ng-container>
</fieldset>

<p>Prosek {{ averageRating }} (ukupno {{ ratings.length }} ocena)</p>

<div *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
  <div class="progress-bar-container">
    <p class="label">Ocena {{ i }} ({{ countRatings(i) }})</p>
    <mat-progress-bar
      class="progress-bar"
      mode="determinate"
      [value]="getRatingPercentage(i)"
      color="primary"
    ></mat-progress-bar>
  </div>
</div>
