<div class="row">
  <div class="side">
    <div class="box">
      <app-carousel [urls]="productData.slike || []"></app-carousel>
      <div class="full-width">
        <button
          mat-raised-button
          (click)="addToCart()"
          *ngIf="!productData.uKorpi"
          color="primary"
        >
          <mat-icon>add_shopping_cart</mat-icon>Dodaj u korpu
        </button>
        <button mat-raised-button *ngIf="productData.uKorpi">
          Dodat u korpu
        </button>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="title">{{ productData.naziv?.toUpperCase() }}</div>
    <p class="price">{{ productData.cena! | formatPrice }}</p>
    <p>
      {{ productData.detaljanOpis }}
    </p>
    <hr />
    <div>Tip proizvoda: {{ productData.tip }}</div>
    <hr />
    <app-star-rating
      [averageRating]="productData.prosecnaOcena || null"
      [ratings]="productData?.ocene || []"
      (ratingUpdated)="updateProductRating($event)"
    ></app-star-rating>
  </div>
</div>
