.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 0 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
}

.main {
  flex: 1;
  background-color: white;
  padding: var(--padding-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.article-number {
  font-style: italic;
  font-size: var(--label-size);
}

.price {
  font-size: var(--subtitle-size);
  color: var(--main-color);
}

.title {
  font-size: var(--title-size);
  color: var(--accent-color);
  font-weight: var(--bold);
  padding-bottom: var(--padding-sm);
}

@media screen and (max-width: 690px) {
  .row {
    flex-direction: column;
  }
}
