.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .section-60 {
    width: 60%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
  }

  .section-100 {
    width: 100%;
    margin: 0 20px;
    padding: 20px 0;
  }

  .header-box {
    text-align: center;
    padding-top: 40px;
  }

  .section-flex {
    display: flex;
    justify-content: center;
    background-image: url("./../../../assets/images/bg.png");
    background-size: cover;
    background-position: bottom center;
    min-height: 400px;
    width: 100%;
  }
}

.circular-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

h3 {
  text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.category-section {
  background-color: #eef5ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.carousel-section {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.categories {
  display: flex;
  justify-content: space-around;
}

/* Gallery Styles */
.gallery {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.gallery > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

/* Gallery Item Styles */
.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.1);
}

.gallery-item__image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* Media query for smaller screens */
@media screen and (max-width: 700px) {
  .categories {
    flex-direction: column;
  }
}
