<div class="about-content">
  <div class="section-flex">
    <div class="header-box">
      <h1>
        Dobrodošli u <span class="name-label">{{ petShop.naziv }}</span>
      </h1>

      <h1>vašu destinaciju za kvalitetnu brigu o ljubimcima.</h1>
    </div>
  </div>

  <div class="section-60">
    <h3><span class="name-label">Naša priča</span></h3>
    <p>
      Osnovani
      <span class="colored-label">{{ petShop.godinaOtvaranja }}</span
      >, u {{ petShop.naziv }} delimo ljubav prema životinjama.
    </p>
    <p>
      Naša misija je pobrinuti se da vaši ljubimci vode srećan i zdrav život.
      Pružamo pažljivo odabrane proizvode i stručne savete kako bismo unapredili
      dobrobit vaših ljubimaca.
    </p>
  </div>

  <div class="section-100 category-section">
    <h3><span class="name-label">Kategorije</span></h3>
    <div class="categories">
      @for (product of mapProductTypeToImg | keyvalue; track product.key) {

      <div class="image-container">
        <a routerLink="proizvodi" [queryParams]="{ type: product.key }"
          ><img [src]="product.value" class="circular-image" /> </a
        >{{ product.key | uppercase }}
      </div>
      } @empty { Trenutno nema proizvoda. }
    </div>
  </div>

  <div class="section-60">
    <h3><span class="name-label">Kontakt</span></h3>
    <p>
      Posetite nas danas na adresi
      <span class="colored-label">{{ petShop.adresa }}</span> i doživite
      jedinstveno iskustvo.
    </p>
    <p>
      Ukoliko imate bilo kakva pitanja, slobodno nas kontaktirajte putem
      telefona na broj
      <span class="colored-label">{{ petShop.telefon }}</span
      >.
    </p>

    <p>
      Takođe, možete nam poslati poruku kako biste dobili dodatne informacije.
    </p>

    <p>Radujemo se vašem dolasku!</p>

    <form class="user-data">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input [required]="true" type="email" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Poruka</mat-label>
        <input type="text" matInput />
      </mat-form-field>
      <button mat-raised-button (click)="sendComment()" color="primary">
        Pošalji
      </button>
    </form>
  </div>

  <div class="section-100 gallery">
    <div>
      @for (url of images; track url) {
      <figure class="gallery-item">
        <img [src]="url" alt="" class="gallery-item__image" />
      </figure>

      } @empty { Trenutno nema proizvoda. }
    </div>
  </div>
</div>
