<div class="stepper-container">
  <h2 mat-dialog-title>{{ data.title }}</h2>
  <mat-stepper orientation="horizontal" #stepper [linear]="true">
    <mat-step [stepControl]="accountFormGroup">
      <form [formGroup]="accountFormGroup">
        <ng-template matStepLabel>Podaci o nalogu</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Korisničko ime</mat-label>
          <input type="text" matInput formControlName="korisnickoIme" />
          <mat-error
            *ngIf="isFieldInvalid(accountFormGroup, 'korisnickoIme')"
            >{{ getErrorMessage(accountFormGroup, "korisnickoIme") }}</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Lozinka</mat-label>
          <input
            matInput
            formControlName="lozinka"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="isFieldInvalid(accountFormGroup, 'lozinka')">{{
            getErrorMessage(accountFormGroup, "lozinka")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!data.item" appearance="outline" class="">
          <mat-label>Potvrda Lozinke</mat-label>
          <input
            matInput
            formControlName="potvrdiLozinku"
            [type]="hideConfirmPassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPassword"
          >
            <mat-icon>{{
              hideConfirmPassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="isFieldInvalid(accountFormGroup, 'potvrdiLozinku')"
            >{{
              getErrorMessage(accountFormGroup, "potvrdiLozinku")
            }}</mat-error
          >
        </mat-form-field>
        <mat-dialog-actions align="end">
          <button mat-raised-button mat-dialog-close>Otkaži</button>
          <button
            mat-raised-button
            matStepperNext
            [disabled]="!isFormValid(accountFormGroup)"
          >
            Sledeće
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>
    <mat-step [stepControl]="userFormGroup">
      <form [formGroup]="userFormGroup">
        <ng-template matStepLabel>Podaci o korisniku</ng-template>
        <mat-form-field appearance="outline">
          <mat-label>Ime</mat-label>
          <input matInput type="text" formControlName="ime" />
          <mat-error *ngIf="isFieldInvalid(userFormGroup, 'ime')">{{
            getErrorMessage(userFormGroup, "ime")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Prezime</mat-label>
          <input matInput type="text" formControlName="prezime" />
          <mat-error *ngIf="isFieldInvalid(userFormGroup, 'prezime')">{{
            getErrorMessage(userFormGroup, "prezime")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Adresa</mat-label>
          <input matInput type="text" formControlName="adresa" />
          <mat-error *ngIf="isFieldInvalid(userFormGroup, 'adresa')">{{
            getErrorMessage(userFormGroup, "adresa")
          }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-pošta</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="isFieldInvalid(userFormGroup, 'email')">{{
            getErrorMessage(userFormGroup, "email")
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Datum Rođenja</mat-label>
          <input matInput type="date" formControlName="datumRodjenja" />
          <mat-error *ngIf="isFieldInvalid(userFormGroup, 'datumRodjenja')">{{
            getErrorMessage(userFormGroup, "datumRodjenja")
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Broj Telefona</mat-label>
          <mat-icon matSuffix>phone</mat-icon>
          <input matInput type="tel" formControlName="telefon" />
          <mat-error *ngIf="isFieldInvalid(userFormGroup, 'telefon')">{{
            getErrorMessage(userFormGroup, "telefon")
          }}</mat-error>
        </mat-form-field>
        <mat-dialog-actions align="end">
          <button mat-raised-button matStepperPrevious>Prethodno</button>
          <button
            mat-raised-button
            type="button"
            color="primary"
            (click)="onSubmit()"
            [disabled]="!isFormValid(userFormGroup)"
          >
            Potvrdi
          </button>
        </mat-dialog-actions>
      </form>
    </mat-step>
  </mat-stepper>

  <div class="label" *ngIf="this.data.creator === 'user' && !this.data.item">
    <p class="padding-left">
      Već imaš nalog? Prijavi se
      <a (click)="login()"><span class="link colored-label">ovde</span></a
      >.
    </p>
  </div>
</div>
