<div class="row">
  <div class="side">
    <h1>{{ userData.prezime }}, {{ userData.ime }}</h1>
    <div class="contact">
      <h3>Podaci o Nalogu</h3>
      <p>
        <span class="label">Korisničko ime:</span> {{ userData.korisnickoIme }}
      </p>
      <p><span class="label">Lozinka:</span> {{ userData.lozinka }}</p>
    </div>
  </div>
  <div class="main">
    <div class="details-box">
      <h3>Lični Podaci</h3>
      <p><span class="label">Ime:</span> {{ userData.ime }}</p>
      <p><span class="label">Prezime:</span> {{ userData.prezime }}</p>

      <p>
        <span class="label">Datum rođenja:</span>
        {{ userData.datumRodjenja | date : "MM/dd/yyyy" }}
      </p>
    </div>
    <div class="details-box">
      <h3>Kontakt Podaci</h3>
      <p><span class="label">Adresa:</span> {{ userData.adresa }}</p>
      <p><span class="label">E-pošta:</span> {{ userData.email }}</p>
      <p><span class="label">Broj Telefona:</span> {{ userData.telefon }}</p>
    </div>
  </div>
</div>
