.row {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  border: var(--container-border);
  margin-top: 40px;
}

.side {
  flex: 0 0 auto;
  min-width: 300px;
  background-color: white;
  border-right: var(--container-border);
}

.contact {
  padding: var(--padding-lg);
}

h1 {
  font-size: var(--title-size);
  background-color: var(--main-color);
  color: white;
  padding: var(--padding-lg);
  margin: 0;
}

h3 {
  font-size: var(--subtitle-size);
  color: var(--accent-color);
  font-weight: var(--bold);
  padding-bottom: var(--padding-sm);
}

p {
  font-size: var(--paragraph-md);
  margin-bottom: 1em;
  color: var(--text-dark);
}

.details-box {
  padding-top: var(--padding-xl);
}

.main {
  flex: 1;
  background-color: white;
  padding: var(--padding-lg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .side {
    border: none;
    border-bottom: var(--container-border);
  }

  .details-box {
    padding-top: var(--padding-sm);
  }
}
