<mat-card>
  <mat-card-header>
    <mat-card-title title="{{ product.naziv }}">{{
      product.naziv
    }}</mat-card-title>
    <mat-card-subtitle>{{ product.cena! | formatPrice }}</mat-card-subtitle>
  </mat-card-header>
  <img [src]="product.slike![0]" alt="product.name" />
  <mat-card-content>
    <br />
    <p>{{ product.kratakOpis }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button (click)="getProductDetails()">Više...</a>
    <button
      mat-raised-button
      (click)="addToCart()"
      *ngIf="!product.uKorpi"
      color="primary"
    >
      <mat-icon>add_shopping_cart</mat-icon>Dodaj
    </button>
    <button mat-raised-button (click)="removeFromCart()" *ngIf="product.uKorpi">
      <mat-icon>remove_shopping_cart</mat-icon>Ukloni
    </button>
  </mat-card-actions>
</mat-card>
