<div class="header-container">
  <h2>Upravljaj korisnicima</h2>
  <button mat-raised-button (click)="createAccount()">+ Dodaj korisnika</button>
</div>

<div class="grid-container">
  <table mat-table [dataSource]="users" class="mat-elevation-z8 admin-grid">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>Korisničko ime</th>
      <td mat-cell *matCellDef="let element">{{ element.korisnickoIme }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Ime</th>
      <td mat-cell *matCellDef="let element">
        {{ element.prezime }}, {{ element.ime }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Е-pošta</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 200px"></th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          title="Izbriši korisnika"
          class="table-action"
          (click)="deleteAccount($event, element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          class="table-action"
          mat-icon-button
          title="Izmeni korisnika"
          (click)="editAccount($event, element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onRowSelected(row)"
    ></tr>
  </table>
</div>
