:root {
  // Color
  --main-color: #7e57c2;
  --accent-color: #311b92;
  --bg-dark: #212121;
  --bg-light: #ede7f6;
  --text-dark: #333;
  --shadow-dark: #4527a0;
  --shadow-light: #d1c4e9;

  // Size
  --header-title: 24px;
  --title-size: 20px;
  --subtitle-size: 16px;
  --paragraph-md: 14px;
  --paragraph-sm: 12px;
  --label-size: 10px;

  // Weight
  --bold: 600;
  --medium: 400;

  // Padding
  --padding-lg: 20px;
  --padding-xl: 75px;
  --padding-md: 10px;
  --padding-sm: 7px;

  // Border Radius
  --b-radius-md: 5px;

  // Border
  --nav-border: 3px solid white;
  --grid-row-border: 1.5px solid var(--accent-color);
  --container-border: 2px solid var(--main-color);
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: var(--paragraph-md);
  line-height: 1.5;
  color: var(--text-dark);
}

p {
  margin-bottom: 1em;
}

.outer-container {
  height: 100%;
}

#flex-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#navbar {
  flex: 0 0 auto;
}

#footer {
  flex: 0 0 auto;
  mat-toolbar {
    background-color: var(--bg-dark);
    .copyright {
      margin: 0 auto;
      font-size: var(--paragraph-sm);
      color: white;
    }
  }
}

#main {
  flex: 1;
  padding: var(--padding-lg);
  background-color: white;
  overflow: auto;
}

/* Products grid */

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding-bottom: var(--padding-lg);
}

.product-grid:has(.label) {
  grid-template-columns: none;
  margin-top: var(--padding-xl);
  .label {
    margin: 0 auto;
  }
}

/* Mat Card */
mat-card {
  height: 100%;
  box-shadow: 3px 3px var(--shadow-dark), -1em 0 0.4em var(--shadow-light) !important;

  .mat-mdc-card-title {
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    text-wrap: nowrap;
    font-size: var(--subtitle-size);
  }

  .mat-mdc-card-header {
    padding: 8px 16px 0;
  }

  .mat-mdc-card-subtitle {
    cursor: default;
    font-size: var(--paragraph-sm);
  }

  .mdc-card__actions {
    justify-content: space-around;
  }

  .mat-mdc-card-content {
    height: 80px;
    overflow: auto;
    cursor: default;
    font-size: var(--paragraph-sm);
  }
}

/* Users Grid */

.admin-grid {
  width: 100%;
  margin-bottom: var(--padding-lg);

  .mat-mdc-header-cell {
    background-color: var(--main-color) !important;
    color: white;
    font-size: var(--paragraph-md);
  }
  .mat-mdc-row {
    cursor: pointer;

    &:nth-child(even) {
      background-color: transparent;
    }

    &:nth-child(odd) {
      background-color: var(--bg-light);
    }

    .table-action {
      visibility: hidden;
      color: var(--main-color);
    }

    &:hover {
      .mat-mdc-cell {
        border-bottom: var(--grid-row-border);
        border-top: var(--grid-row-border);
      }
      .mat-mdc-cell:first-of-type {
        border-left: var(--grid-row-border);
      }
      .mat-mdc-cell:last-of-type {
        border-right: var(--grid-row-border);
      }
      color: var(--accent-color);
      & .table-action {
        visibility: visible;
      }
    }
  }
}

/* Mat Form */
mat-form-field {
  margin-bottom: var(--padding-md);
  width: 100%;

  &:first-of-type {
    margin-top: var(--padding-md);
  }

  &.readonly-field {
    background-color: transparent;
    .mdc-text-field--filled.mdc-text-field--disabled {
      background-color: transparent;
    }

    mat-label {
      font-size: var(--title-size);
      font-weight: var(--bold);
    }
  }
}

.buttons {
  button {
    margin-left: var(--padding-md);
  }
}

.name-label {
  background-color: #333;
  color: white;
  padding: 5px 10px;
}

#header {
  display: flex;
  justify-content: center;
}

.header-container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.grid-container {
  padding-bottom: 10px;
}

.align-right {
  justify-content: flex-end;
}

.full-width {
  button {
    width: 100%;
  }
}

.label {
  font-family: Arial, sans-serif;
  line-height: 1.5rem;
  font-size: var(--paragraph-md);
  font-weight: var(--medium);
  letter-spacing: 0.03125em;
  color: rgba(0, 0, 0, 0.6);
  .link {
    cursor: pointer;
  }
}

.colored-label {
  color: var(--main-color);
  font-weight: var(--bold);
}

.padding-left {
  padding-left: var(--padding-lg);
}

/* Media query for smaller screens */
@media screen and (max-width: 700px) {
  body {
    font-size: var(--padding-sm);
  }
}
