<div id="header">
  <h2>
    Proizvodi<span *ngIf="filter"> iz kategorije: "{{ filter }}"</span>
  </h2>
</div>

<div class="product-grid">
  @for (product of productsByCategory; track product.id) {
  <app-product-summary [product]="product"></app-product-summary>
  } @empty { Trenutno nema proizvoda. }
</div>
